
:root {

    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    
    // Primary Colors
    --color-primary-blue: hsl(246, 80%, 60%);
    --color-light-red-work: hsl(15, 100%, 70%);
    --color-soft-blue-play: hsl(195, 74%, 62%);
    --color-light-red-study: hsl(348, 100%, 68%);
    --color-lime-green-exercise: hsl(145, 58%, 55%);
    --color-violet-social: hsl(264, 64%, 52%);
    --color-soft-orange-self-care: hsl(43, 84%, 65%);

    // Neutral Colors
    --color-very-dark-blue: hsl(226, 43%, 10%);
    --color-dark-blue: hsl(235, 46%, 20%);
    --color-desaturated-blue: hsl(235, 45%, 61%);
    --color-pale-blue: hsl(236, 100%, 87%);

    // Widths
    --mobile-width: 375px;
    --desktop-width: 1440px;

    // Font
    --font-size-card-title: 1.6em;

}

* { 
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //1 rem = 10px, 10px / 16 (browser default) = 62.5%
}

body {

    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

