.container {
    width: 50%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-container {
    display: flex;

    @media screen and (max-width: 1250px) {
        flex-flow: column wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        
    }
   
    
}

footer {
    text-align: center;
}

#card-container {
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.user-card {
    flex: 1 0 18%;
    @media screen and (max-width: 1250px) {
        margin-bottom: 1rem;
        
    }
}