.container {
    width: 50%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inner-container {
    display: flex;
    
}

footer {
    text-align: center;
}

#card-container {
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.user-card {
    flex: 1 0 18%;
}